doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Add Product
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    style.

  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/") Shop
          li.main-header__item
            a(href="/admin/add-product") Add Product

    main
      h1 My Products
      
         
      if prods.length
        .product-grid
          each product in prods
            .product-card
              img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUXtrGidlmfshK3yNyzr9RCTYbV-hdk4zG8Q&usqp=CAU', alt=product.title)
              h2 #{product.title}
              p 0
            //-   p Price: $#{product.price}
      else
        p No products available