body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #3e00a1;
}


/* product.css */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-card h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
  }
  
  .product-card p {
    margin: 0;
  }
  